.marq{
    color: rgb(255, 255, 255);
    font-size: large;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 61%, rgba(33,157,182,1) 100%);
    padding: 15px;
}

.bgjob{
  background: linear-gradient(90deg, rgba(152,15,193,1) 0%, rgba(98,15,193,1) 45%, rgba(84,121,213,1) 100%);
}

.toprec{
    color: rgb(255, 255, 255);
    font-size:20;
    background-color: rgb(59, 59, 59);
    padding: 10px;
}

.myBtn{
  background-color: rgb(59, 59, 59); 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  

}

.card {
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.aboutform{
  margin-left: 68px;
  font-size: 24;
}

.messsageform{
  resize: both;
  overflow: auto;
}


