
 body{
 	margin:0;
 	font-family: sans-serif;
 }

 *{
 	box-sizing: border-box;
 }

 .header{
 	width: 100%;
 	float: left;
 }
 .header img{
 	width: 100%;
 }

 .marquee{
 
 font-size:x-large;
 color:red;
 }

 .myBtn{
	 background-color: #cc6868;
 }







